.Login {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Login > form {
  width: 12rem;
  display: flex;
  flex-direction: column;
}

.Login > form > * {
  margin-bottom: 0.8rem;
  font-size: 0.7rem;
}

.Login > form > .error {
  color: red;
  text-align: center;
}
